---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.w3.org/2000/sitemaps/schemas/sitemap/0.9">
  {%- for page in collections.all %}
  {%- if not page.data.noindex %}
  <url>
    <loc>{{ site.url }}{{ page.url }}</loc>
    <lastmod>{{ page.date | toISOString }}</lastmod>
  </url>
  {%- endif %}
  {%- endfor %}
  {%- for staticPath in ['/privacy.html', '/terms.html', '/terminal/', '/game/', '/snake/'] %}
  <url>
    <loc>{{ site.url }}{{ staticPath }}</loc>
    <lastmod>2026-08-29</lastmod>
  </url>
  {%- endfor %}
</urlset>
